<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Activity Manager</title>
</head>
<body>
<div align="center">
    <h1>Activity List</h1>
    <br/><br/>
    <table border="1">
        <thead>
            <tr>
                <th>Activity ID</th>
                <th>Patient ID</th>
                <th>Activity</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="Activity : ${listActivities}">
                <td th:text="${Activity.id}">Activity ID</td>
                <td th:text="${Activity.patientId}">Patient ID</td>
                <td th:text="${Activity.name}">Activity</td>
                <td th:text="${Activity.startTime}">Start Time</td> 
                <td th:text="${Activity.endTime}">End Time</td>
            </tr>
        </tbody>
    </table>
    <a href="/">Back to main menu</a>
</div>   
</body>
</html>