<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Patient Manager</title>
</head>
<body>
<div align="center">
    <h1>Patient List</h1>
    <a href="/patients/new">Create New Patient</a>
    <br/><br/>
    <table border="1">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Birth Date</th>
                <th>Medical Record</th>
               <th>Caregiver ID</th> 
            </tr>
        </thead>
        <tbody>
            <tr th:each="patient : ${listPatients}">
                <td th:text="${patient.id}">Patient ID</td>
                <td th:text="${patient.name}">Name</td>
                <td th:text="${patient.address}">Address</td>
                <td th:text="${patient.gender}">Gender</td> 
                <td th:text="${patient.birthDate}">Birth Date</td>     
                <td th:text="${patient.medicalRecord}">Medical Record</td>
                 <td th:text="${patient.caregiverId}">Caregiver ID</td>
                <td><a th:href="@{/patients/delete/{id}(id=${patient.id})}">Delete</a></td>
                <td><a th:href="@{/patients/edit/{id}(id=${patient.id})}">Update</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/">Back to main menu</a>
</div>   
</body>
</html>